/**
 * Main CSS for History Near Me application
 */
a:visited {
  color: #08C;
}

.float-right {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}
 
#history-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

.leaflet-top {
  top: 40px;
}

.icon-geolocate {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("img/icon-geolocate.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.popup-table {
  margin-top: 1em;
}
.popup-table td {
  width: 50%;
}

.alert {
  z-index: 50;
  margin-top: 70px;
  -webkit-box-shadow: 0 8px 6px -6px #666666;
  -moz-box-shadow: 0 8px 6px -6px #666666;
  box-shadow: 0 8px 6px -6px #666666;
}
.alert + .alert {
  margin-top: 1.5em;
}

.loading-placeholder.loading {
  background: transparent url("img/loading.gif") top left no-repeat;
  height: 20px;
  width: 20px;
  margin: 10px 10px 11px;
}

.directions-container {
  padding: 5px;
  background: rgb(100, 100, 100);
  background: rgba(0, 0, 0, 0.25);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  z-index: 50;
}
.directions-container .directions {
  padding: 5px;
}
.directions-container .directions.closed {
  background-image: url("img/walkingtour-no-marker.png");
  background-position: 0 -9px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.directions-container .directions.closed * {
  display: none;
}
.directions-container .directions.opened {
  width: 380px;
  max-height: 70%;
  background: #EEEEEE;
  background: rgba(255, 255, 255, 0.75);
}



@media all and (max-width: 767px) {
  .leaflet-top {
    top: 45px;
  }
  input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    display: inline;
    width: 70%;
  }
}

@media all and (max-width: 480px) {
  .modal.fade.in {
    top: 10px;
    max-height: 380px;
  }
  .directions-container .directions.opened {
    width: 95%;
  }
}

@media all and (min-width: 767px) {
  .alert {
    margin-right: 1em;
    margin-left: 1em;
  }
}