/**
 * Main CSS for History Near Me application
 */
#history-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35px;
  right: 0;
}

.icon-geolocate {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("img/icon-geolocate.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}