/**
 * Main CSS for History Near Me application
 */
a:visited {
  color: #08C;
}

.float-right {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}
 
#history-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35px;
  right: 0;
  z-index: -10;
}

.icon-geolocate {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("img/icon-geolocate.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.popup-table {
  margin-top: 1em;
}
.popup-table td {
  width: 50%;
}


@media all and (max-width: 767px) {

  #history-map {
    top: 45px;
  }
  input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    display: inline;
    width: 70%;
  }
}

@media all and (max-width: 480px) {
  .modal.fade.in {
    top: 10px;
    max-height: 380px;
    overflow: scroll;
  }
}